<html>
    <head>
        <title>Forgot password page</title>
    </head>
    <body>
        <h1>Forgot Password</h1>
        <form action="/forgotPassword" method="post">
          Email: <input type="text" name="email"><br>
          
          <input type="submit" value="Submit">
        </form>
    </body>
</html>