<% for (var i = 0; i < returnArray.length - 1; i++) { %>
    <a href="/acceptRequest?<%= returnArray[i] %>&<%= returnArray[returnArray.length - 1] %>" class="user-link"><%= returnArray[i] %></a>
<% } %>