<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

	<title>Material Design Log In & Sign Up</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/normalize.css" type="text/css" media="all">
	<link href='https://fonts.googleapis.com/css?family=Roboto:900,900italic,500,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '611923268955973',
				xfbml      : true,
				version    : 'v2.5'
			});

			FB.getLoginStatus(function(response) {
				if(response.status === 'connected') {
					document.getElementById('status').innerHTML = 'Connected.';
				} else if(response.stats === 'not_authorized') {
					document.getElementById('status').innerHTML = 'Not logged in';
				} else {
					document.getElementById('status').innerHTML = 'Not logged in';
				}
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src="https://connect.facebook.net/en_US/all.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		function login() {
			FB.login(function(response) {
				if(response.status === 'connected') {
					getInfo();
				} else if(response.stats === 'not_authorized') {
					document.getElementById('status').innerHTML = 'Not logged in';
				} else {
					document.getElementById('status').innerHTML = 'Not logged in';
				}
			}, {scope: 'email, public_profile'});
		}

		function getInfo() {
			FB.api('/me', 'GET', {fields: 'first_name, last_name, id, gender, email'}, function(response) {
				var str = Object.keys(response).map(function(key){ 
  					return encodeURIComponent(key) + '=' + encodeURIComponent(response[key]); 
				}).join('&');
				window.location.replace("/fblogin?" + str);
			});
		}

	</script>
<script type="text/javascript">//<![CDATA[ 
	$(window).load(function(){
		$('.form-control').on('focus blur', function (e) {
			$(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
		}).trigger('blur');
});//]]>  
</script>

</head>  
<body style="height: 100%; overflow: hidden; width: 100% !important;">

	<div id="fback"><div class="girisback"></div><div class="kayitback"></div></div>

	<div id="textbox">
		<div class="toplam">

			<div class="left">
				<div id="ic">
					<h2>Sign Up</h2>
					<!--<p>Synth polaroid bitters chillwave pickled. Vegan disrupt tousled.</p>-->
					<form action="/register" id="girisyap" name="signup_form" id="signup_form" method="post">

						<div class="yarim form-group">
							<label class="control-label" for="inputNormal">Username</label>
							<input type="text" name="username" id="username" class="bp-suggestions form-control" cols="50" rows="10" ></input>
						</div>
						<div class="yarim form-group">
							<label class="control-label" for="inputNormal">First Name</label>
							<input type="text" name="firstname" id="firstname" class="bp-suggestions form-control" cols="50" rows="10" ></input>
						</div>
						<div class="yarim sn form-group">
							<label class="control-label" for="inputNormal">Last Name</label>
							<input type="text" name="lastname" id="lastname" value="" class="bp-suggestions form-control" cols="50" rows="10"></input>
						</div>
						<div class="form-group">
							<label class="control-label" for="inputNormal">Email</label>
							<input type="text" name="email" id="email" class="bp-suggestions form-control" cols="50" rows="10"></input>
						</div>
						<div class="form-group">
							<label class="control-label" for="inputNormal">Password</label>
							<input type="password" name="password" id="signup_password" value="" class="bp-suggestions form-control" cols="50" rows="10" ></input>
						</div>
						<div class="form-group soninpt">
							<label class="control-label" for="inputNormal">Confirm Passowrd</label>
							<input type="password" name="confirm_password" id="field_2" class="bp-suggestions form-control" cols="50" rows="10"></input>
						</div>
						<input type="submit" name="signup_submit" id="signup_submit" value="Sign Up" class="girisbtn"  />
					</form>

					<button id="moveright">Login</button>
					<button class="facebook_button" onclick="login()">Sign up with Facebook</button>
				</div>
			</div>

			<div class="right">
				<div id="ic">
					<h2>Login</h2>
					<!--<p>Synth polaroid bitters chillwave pickled. Vegan disrupt tousled.</p>-->
					<form action="/login" name="login-form" id="girisyap" id="sidebar-user-login" method="post">

						<div class="form-group">
							<label class="control-label" for="inputNormal">Username</label>
							<input type="text" name="username" class="bp-suggestions form-control" cols="50" rows="10" ></input>
						</div>
						<div class="form-group soninpt">
							<label class="control-label" for="inputNormal">Password</label>
							<input type="password" name="password" class="bp-suggestions form-control" cols="50" rows="10"></input>
						</div>
						<input type="submit" value="Login" class="girisbtn" tabindex="100" />
					</form>

					<button id="moveleft">Sign Up</button>
					<button class="facebook_button" onclick="login()">Sign in with Facebook</button>
				</div>
			</div>
		</div>
	</div>

	<script src="js/kayitgiris.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>

<!--	<div id="status">-->
<!--	</div>-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-md-4 col-md-offset-4">-->
<!--				<div class="panel panel-default">-->
<!--					<div class="panel-heading">-->
<!--						<h3 class="panel-title">Login to Shinsa</h3>-->
<!--					</div>-->
<!--					<div class="panel-body">-->
<!--						<form action="/login" method="post" accept-charset="UTF-8" role="form">-->
<!--							<fieldset>-->
								<!-- Email Input -->
<!--								<div class="form-group">-->
<!--									<input class="form-control" placeholder="yourmail@purdue.edu" name="email" type="text">-->
<!--								</div>-->
								<!-- Password Input -->
<!--								<div class="form-group">-->
<!--									<input class="form-control" placeholder="Password" name="password" type="password" value="">-->
<!--								</div>-->
								<!-- Remember me checkbox -->
<!--								<div class="checkbox">-->
<!--									<label>-->
<!--										<input name="remember" type="checkbox" value="Remember Me"> Remember Me-->
<!--									</label>-->
<!--								</div>-->
								<!-- Login button -->
<!--								<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">-->
<!--							</fieldset>-->
<!--						</form>-->
<!--						<hr/>-->
<!--						<center><h4>OR</h4></center>-->

<!--						<a class="btn btn-block btn-social btn-facebook" onclick="login()">-->
<!--							<span class="fa fa-facebook"></span> Sign in with Facebook-->
<!--						</a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
