<% returnArray.forEach(function(user) { %>
    <a href="/getProfile? <%= user['email'] %>& <%= returnArray[returnArray.length - 1] %>" class="user-link"><%= user['firstName'] + " " + user['lastName']%></a>
    <a href="#"><%= user['email'] %></a>
<% }) %>