<html>
    <head>
        <title>Reset password page</title>
    </head>
    <body>
        <h1>Reset Password</h1>
        <form action="/resetPassword/<%= token %>" method="post">
          Enter new password: <input type="password" name="password1"><br>
          Confirm password: <input type="password" name="password2"><br>
          <input type="submit" value="Submit">
        </form>
    </body>
</html>