
body {
	background: url(images/wall.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 900%
	
}

.navbar {
	position: relative;
	margin-bottom: 20px;
	max-height: 50px;
}
	
@-moz-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-webkit-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-o-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

ul {

	margin: 30px auto;
	text-align: center;
}

li{
	list-style: none;
	position: relative;
	display: inline-block;
	margin-left: -20px;
	width: 100px;
	height: 100px;
}

.signup{

  	-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-weight: 900;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		line-height: 4em;
		padding-top: -80px;		
		text-decoration: none;		
		text-align: center;
		font-size: 25px;		
		text-shadow: 0 1px 0 rgba(255,255,255,.7);
		letter-spacing: -.065em;
		font-family: "Hammersmith One", sans-serif;		
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		box-shadow: 2px 2px 7px rgba(0,0,0,.2);
		border-radius: 500px;
		z-index: 1;
		border-width: 4px;
		border-style: solid;

}

.signup:hover {
	font-weight: 900;
	width: 130%;
	height: 130%;
	left: -15%;
	top: -15%;
	font-size: 33px;
	padding-top: 38px;
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	z-index: 2;
	border-size: 10px;
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
}
a.up {
	background-color: rgba(1,151,171,1);
	color: rgba(0,63,71,1);
	border-color: rgba(0,63,71,.2);
}

a.up:hover {
	color: rgba(239,57,50,1);
}


.signup span.signup {
	margin-top: 
	font-weight: 900;
	display: block;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	font-size: 1px;
	border: none;
	padding: 40% 20% 0 20%;
	color: #fff;
}

.signup span:hover {
	opacity: .85;
	font-size: 16px;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	text-shadow: 0 1px 1px rgba(0,0,0,.5);	
}

.signup span {
	background: rgba(133,32,28,.7);		
}
.shinsa {
	font-weight: 900;
	margin-top: 60px;
	display: block;
  	position: relative;
  	/*
  	overflow: hidden; 
  	*/
  	margin: 0 auto;
  	margin-top: -60px;
	font-family: 'Kalam', cursive;
	font-weight: 400;
	font-size: 4.5em;
	color: black;
	text-align: center;
}

#content {
	border-radius: 16px;
	border-style: solid;
	border-width: 10px;
	line-height: 140px;
	margin-left: 350px;
	width: 40%;
	opacity: 0.8;
	border-color: rgba(0, 0, 0, 0.3);
	background: white;
	text-align: center;
	padding-top: 15%;
}

